<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:utext="#{student.editStudent}"></title>
</head>
<body>
	<div align="center">
		<h1 th:utext="#{student.editStudent}"></h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${student}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>				
					<td th:utext="#{student.id}"></td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>			
				<tr>				
					<td th:utext="#{student.name}"></td>
					<td>
						<input type="text" th:field="*{name}" />
					</td>
				</tr>
				<tr>
					<td th:utext="#{student.email}"></td>
					<td><input type="text" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td th:utext="#{student.course}"></td>
					<td><input type="text" th:field="*{course}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit" th:utext="#{student.submit}"></button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
