<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title th:utext="#{student.list}"></title>
</head>
<body>
<div align="center">
		  
		 <a th:href="@{./?lang=en}">English</a>
         &nbsp;|&nbsp;
         <a th:href="@{./?lang=fr}">Française</a>
    <h1 th:utext="#{student.list}"></h1>
    <a href="new" th:utext="#{student.add}"></a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <td><strong th:utext="#{student.id}"></strong></td>
                <td><strong th:utext="#{student.name}"></strong></td>
                <td><strong th:utext="#{student.email}"></strong></td>
                <td><strong th:utext="#{student.course}"></strong></td>
                <th colspan="2"><p th:utext="#{student.action}"></p></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${listStudents}">
            	<td th:text="${student.id}"><strong th:utext="#{student.id}"></strong></td>
                <td th:text="${student.name}"><strong th:utext="#{student.name}"></strong></td>
                <td th:text="${student.email}"><strong th:utext="#{student.email}"></strong></td>
                <td th:text="${student.course}"><strong th:utext="#{student.course}"></strong></td>
                <td>
                	<a th:href="@{'/edit/' + ${student.id}}" th:utext="#{student.edit}"></a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${student.id}}" th:utext="#{student.delete}"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>
